:root {
    --cor-primaria: #daff01;
    --cor-secundaria: #ffffff;
    --cor-preto: #000000;
    --cor-cinza-escuro: #202020;
    --cor-cinza: #444444;
    --cor-cinza-claro: #e0e0e0;
    --cor-fundo: #0e0e0e;

    --font-xl: 4rem;
    --font-lg: 2rem;
    --font-md: 1.2rem;
    --font-sm: 0.95rem;
    --font-xs: 0.75rem;
    
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-48: 48px;
    --space-64: 64px;

}

:root.light {
    --cor-fundo: #ffffff;
    --cor-primaria: black;
    --cor-secundaria: #111111;
    --cor-preto: #ffffff;
    --cor-cinza-escuro: #d9d9d9;
    --cor-cinza: #666666;
    --cor-cinza-claro: #f5f5f5;
}

/* Reset*/
* { margin: 0;    padding: 0;    box-sizing: border-box; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    line-height: 1.6;
    transition: background 0.4s, color 0.4s;
}

.tema-toggle {
    font-size: var(--font-xs);
    cursor: pointer;
    background: none;
    border: solid;
    border-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    font-size: 1.3rem;
    color: var(--cor-secundaria);
}
.tema-toggle:hover { color: var(--cor-secundaria); background-color: var(--cor-primaria);}

img { max-width: 100%;    height: auto;    border-radius: var(--space-8);}

a { text-decoration: none;    color: inherit;}

ul { list-style: none;}

header {
    color: var(--cor-secundaria);
    padding-bottom: var(--space-16);
    background-color: var(--cor-preto);
}

.logo { width: 3%;}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: var(--cor-secundaria);
    border-radius: 5px;
}

#menu { display: flex;    gap: 2rem;}

#menu.active {
    display: block;
    width: 100%;
    background-color: var(--cor-preto);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding: 2rem 0;
}

#menu li { width: 100%;    text-align: center;    margin: 1rem 0;}

#menu a {
    font-size: var(--font-xs);
    color: var(--cor-secundaria);
    font-weight: 600;
    transition: color 0.3s ease;
}

#menu li a:hover { color: var(--cor-primaria);}

nav {
    font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: var(--font-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 15%;
}

nav ul { display: flex;    gap: 2rem;}

nav a {
    color: var(--cor-secundaria);
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover { color: var(--cor-primaria);}

#menu .bt-contato {
    background-color: var(--cor-primaria);
    color: var(--cor-preto);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
}

#menu .bt-contato:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-preto);
    border-color: var(--cor-secundaria);
    border-style: solid;
    border-width: 1px;
    transition: 0.4s ease-in-out;
}

.hero {
    background-color: var(--cor-preto);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 15%;
}

.hero-text { flex: 1;}

.hero-text h1 {
    font-size: var(--font-xl);
    margin-bottom: 1rem;
    line-height: 4rem;
}

.hero-text p { font-size: var(--font-md);    margin-bottom: 25px;}

.hero-text a {
    color: var(--cor-preto);
    background-color: var(--cor-primaria);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}

.hero-text a:hover { background-color: var(--cor-secundaria);    transition: 0.4s ease-in-out;}

.hero-img { flex: 2;    width: 100rem;    text-align: center;}

section {
    color: var(--cor-secundaria);
    padding: 4rem 15%;
    background-color: var(--cor-preto);
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.text { flex: 1;}

.image { flex: 2;}

.image img { border-radius: var(--space-32);}

.lista-dados {
    color: var(--cor-preto);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    gap: 3rem;
}

.lista-textos {
    color: var(--cor-preto);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    margin-left: 15px;
    margin-top: -20px;
}

.sobrepor {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    background-color: var(--cor-primaria);
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

h2 { font-size: 4rem;    margin-bottom: 1rem;    color: var(--cor-secundaria);}

h3 { font-size: var(--font-md);    margin-top: 1rem;    color: var(--cor-primaria);}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cards img { height: 500px;    object-fit: cover;}

.cards article {
    background-color: rgba(255,255,255,0.05);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    padding: 1rem;
    flex: 1 1 30%;
    transition: transform 0.3s ease;
    filter:grayscale(100);
}

.cards article:hover {
    transform: translateY(-3px);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255,0.1);
    transition: 0.4s ease-in-out;
    filter:grayscale(0);
}

#como-ajudar { background-color: var(--cor-fundo);}

#como-ajudar img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 10% 15%;
}

.text h2 { line-height: 4rem;}

.valores-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.valores-lista ul { flex: 1;    font-size: var(--font-sm);}

.valores-lista span {
    color: var(--cor-primaria);
    font-size: var(--font-lg);
    font-weight: 900;
}

.valores-lista img {
    object-fit: cover;
    object-position: 0% 68%;
    height: 400px;
    flex: 1;
}

address {
    font-style: normal;
    margin-top: 1rem;
    line-height: 1.8;
}

#contato img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 60%;
    filter: grayscale(100);
}

address a { color: var(--cor-primaria);    font-weight: 500;}

.projeto {
    display: flex;
    margin-top: 2rem;
    background-color: var(--cor-fundo);
    border-radius: var(--space-8);
}

.projeto-text{
    flex: 1;
    max-width: 20vw;
    object-position: center;
    justify-content: center;
}

.projeto img {
    max-width: 40rem;
    width: 40rem;
    height: 20rem;
    margin-right: 3rem;
    object-fit: cover;
    flex: 2;
}

.projeto-text p { margin-top: 1rem;}

#voluntariado p{ margin-bottom: 1rem;}

#voluntariado img{ margin-left: 40%;}

.btn {
    color: var(--cor-preto);
    background-color: var(--cor-primaria);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}

.btn:hover { background-color: var(--cor-secundaria);    transition: 0.4s ease-in-out;}

#doacoes p, ul{ margin-bottom: 1rem;}

#doacoes img{
    max-width: 40rem;
    height: 20rem;
    object-fit: cover;
    margin-left: 40%;
    object-position: 0% 70%;

}

#formulario-cadastro form{
    max-width: 1500px;
    padding: 30px;
    background-color: var(--cor-cinza-escuro);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

fieldset {
    border: 1px solid var(--cor-cinza);
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 20px;
}

legend {
    color: var(--cor-primaria);
    font-weight: 600;
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: var(--cor-branca);
}

input, select, textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #666666;
    border-radius: 6px;
    background-color: var(--cor-cinza);
    color: var(--cor-secundaria);
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 5px var(--cor-primaria);
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 6px;
    color: var(--cor-fundo);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover { background-color: var(--cor-primaria);    transform: scale(1.02);}

button:active {
    background-color: var(--cor-primaria);
    transform: scale(0.98);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #181818;
  padding: 48px;
  border-radius: 12px;
  text-align: center;
  color: var(--cor-secundaria);
}

.modal-content p{  margin-bottom: 20px;}

.erro {
  border: 2px solid #ff5c5c !important;
  box-shadow: 0 0 6px rgba(255,92,92,0.2);
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-size: 0.9rem;
}

/* Responsividade */

@media (max-width: 768px) {
    #menu { display: none;}

    .logo { width: 15%;}

    nav ul {
        flex-direction: column;
        align-items: flex-end;
        display: none;
        width: 100%;
    }

    .menu-toggle { display: flex;}

    .hero {flex-direction: column;}

    .hero-text h1{
        font-size: 2.3rem;
        width: 100%;
        line-height: 2.4rem;
    }

    .hero-text p{width: 80%;}

    .hero-img {display: none;}

    .sobrepor {
        position: inherit;
        width: 100%;
        padding: 10px;
    }

    .projeto {flex-direction: column;   width: 100%;}

    .projeto img { max-width: 70vw;}

    .projeto-text { max-width: 70vw;}

    #voluntariado img { margin: 0;}

    #doacoes img { max-width: 70vw;   margin: 0;}

    .lista-dados {
        color: var(--cor-preto);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: var(--font-sm);
        font-weight: 900;
        gap: 3rem;
    }

    .lista-textos {
        color: var(--cor-preto);
        font-size: var(--font-xs);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        margin-top: -15px;
    }
    .text { flex: 1;}

    .image { flex: 1;}


    .content { flex-direction: column;}

    .cards { flex-direction: column;        filter: none;}

    .cards article {
        transform: translateY(-3px);
        border-style: solid;
        border-width: 1px;
        border-color: rgba(255,255,255,0.1);
        transition: 0.4s ease-in-out;
        filter:grayscale(0);
    }

    .valores-lista { flex-direction: column;}

    h1 { font-size: var(--font-lg);}

    h2 { font-size: var(--font-lg);}

    #menu.active {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    #formulario-cadastro form{ padding: var(--space-24);}

    input, select, textarea, button { font-size: 0.95rem;}

}